<div class="container">
    <form action="">
        <div><h1>Créer votre compte</h1></div>
        <div class="input-box">
            <label for=""><h3>Nom</h3></label>
            <input type="text">
            <span>err</span>
        </div>

        <div class="input-box">
            <label for=""><h3>Prenom</h3></label>
            <input type="text">
            <span>err</span>
        </div>

      <div class="input-box">
            <label for=""><h3>Nom d'utilisateur</h3></label>
            <input type="text">
            <span>err</span>
        </div>

        <div class="input-box">
            <label for=""><h3>Adresse mail</h3></label>
            <input type="email">
            <span>err</span>
        </div> 

        <div class="input-box">
            <label for=""><h3>Mot de passe </h3></label>
            <input type="text">
            <span>err</span>
        </div>

        <div class="input-box">
            <label for=""><h3>Confirmer mot de passe</h3></label>
            <input type="text">
            <span>err</span>
        </div>

        <div><button type="submit">Inscription</button></div> 

        <div> <a routerLink="/Connexion">Vous avez déja un compte  ? connectez vous </a></div>
</form>
<router-outlet></router-outlet>
</div>

        
    
  

